/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
}

.footer-copy {
  padding: 20px;
  float: left;
}

.footer-links {
  padding: 20px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 20px;
}

.footer a {
  display: flex;
}

.footer a:hover {
  color: #000;
}

